.footer-wrapper {
  width: 100%;
  padding: 30px;
  background-color: $black;
  color: $white;
  text-align: center;
  flex-shrink: 0;
}

.footer {
  width: auto;
  max-width: $breakpoint-xl;
  margin: 0 auto;
}