body {
  font-family: $font;
  font-weight: $font-weight-normal;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: $font-larger;
  font-weight: $font-weight-bold;
}
h2 {
  font-size: $font-large;
  font-weight: $font-weight-bold;
}
h3 {
  font-size: $font-large;
  font-weight: $font-weight-bold;
}

strong,
b {
  font-weight: $font-weight-bold;
}

small {
  font-size: $font-small;
}

sup, sub {
  font-size: 65%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.5em;
}

/* List item styles */
ul {
  margin: 28px 0 0 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.33;
}

li {
  position: relative;
  padding-left: 35px;
  margin: 0;
  list-style: none;

  // &::before {
  //   content: '';
  //   display: block;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 20px;
  //   height: 20px;
  //   background-image: linear-gradient($bullet-light-blue, $bullet-dark-blue);
  //   border-radius: 8px;
  // }

  // &.star {
  //   &::before {
  //     top: -4px;
  //     width: 24px;
  //     height: 24px;
  //     // background-image: url('~assets/icons/list-star.svg');
  //     background-repeat: no-repeat;
  //   }
  // }

  // + li {
  //   margin-top: 23px;
  // }
}

.color-blue {
  color: #09AFED
}