// https://www.bram.us/2016/05/02/prevent-overscroll-bounce-in-ios-mobilesafari-pure-css/
// Prevent iOS overflow scrolling
html,
body {
  width: 100%;
  height: 100%;
}

#__nuxt,
#__layout {
  height: 100%;
}

.app-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app-inner {
  flex: 1 0 auto;
}

main {
  // max-width: $breakpoint-xl;
  margin: 0 auto;
  padding: 0 0 4rem 0;

  // ensure fullscreen elements are on top
  .fullscreen & {
    z-index: 1;
  }
}

article {
  // padding: $padding 6.8rem;
  // min-height: $page-height - $header-height;

  // @if $vertical-center-content {
  //   @include flexVerticalCenter;

  //   > * {
  //     flex-grow: 1;
  //   }
  // }

  // io videos
  .modal-shallow & {
    min-height: 0;
  }
}

.modal-big-image {
  position: absolute;
  bottom: 0;
  left: $padding;
  z-index: 1000;
}

