[data-slide-transition] {
  transition: transform 0.4s;
}

[data-slide-transition='next'] {
  transform: translateX(-100%);

  > main:not(:first-child) {
    transform: translateX(100%);
  }
}

[data-slide-transition='previous'] {
  transform: translateX(100%);

  > main:not(:first-child) {
    transform: translateX(-100%);
  }
}
