.full-page-logo {
  position: absolute;
  top: $padding;
  left: $padding;
}

.full-page-video {
  @include pageFixed;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  border: 1px solid #f0f;
}